.env
.env.backup
.phpunit.result.cache
.idea/
tests/
.DS_Store
__MACOSX/
public/uploads/
database/.DS_Store
/public/install/install.lock
.phpstorm.meta.php
vendor
pull.sh
/storage/framework/
/storage/exports/
/public/exports/
/storage/laravels.conf
/storage/laravels.pid
/storage/laravels-timer-process.pid
/runtime/cache/*
/app/Http/Controller/AdminApi/TestController.php
*_back
*_back.php
docker/mysql/data/*
docker/mysql/logs/*
docker/redis/data/*
.constant
.qoder
.trae
helper
docs-detailed
docs-detailed 2
docs-detailed 3
.codebuddy
__pycache__/
*.pyc
uniapp
upgrade
!views/gyro-craftsman-web-own-v2.4/src/views/setting/enterprise/upgrade/
!views/gyro-craftsman-web-own-v2.4/src/views/setting/enterprise/upgrade/index.vue
docs

.tmp-i18n-restore-*/

.tmp-i18n-restore-*/

.tmp-i18n-restore-*/
