@font-face {
  font-family: "ai-icon"; /* Project id 1570615 */
  src: url("https://at.alicdn.com/t/c/font_1570615_h2atfb545ji.eot?t=1741655994000"); /* IE9 */
  src:
    url("https://at.alicdn.com/t/c/font_1570615_h2atfb545ji.eot?t=1741655994000#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("https://at.alicdn.com/t/c/font_1570615_h2atfb545ji.woff2?t=1741655994000") format("woff2"),
    url("https://at.alicdn.com/t/c/font_1570615_h2atfb545ji.woff?t=1741655994000") format("woff"),
    url("https://at.alicdn.com/t/c/font_1570615_h2atfb545ji.ttf?t=1741655994000") format("truetype"),
    url("https://at.alicdn.com/t/c/font_1570615_h2atfb545ji.svg?t=1741655994000#iconfont") format("svg");
}

.ai-icon {
  font-family: "ai-icon";
  font-style: normal;
}
.ai-icon-guanbi:before {
  content: "\e82d";
}
.ai-icon-deepseek:before {
  content: "\e82b";
}
.ai-icon-baiduzhinengyun:before {
  content: "\e82c";
}
.ai-icon-qingchu2:before {
  content: "\e82a";
}
.ai-icon-gengduo3:before {
  content: "\e828";
}
.ai-icon-yinpin:before {
  content: "\e829";
}
.ai-icon-zhankai2:before {
  content: "\e826";
}
.ai-icon-shouqi1:before {
  content: "\e827";
}
.ai-icon-tupian-01:before {
  content: "\e821";
}
.ai-icon-xianshimima:before {
  content: "\e822";
}
.ai-icon-a-zu11438:before {
  content: "\e823";
}
.ai-icon-shanchu2:before {
  content: "\e824";
}
.ai-icon-wenjian3:before {
  content: "\e825";
}
.ai-icon-xmind:before {
  content: "\e820";
}
.ai-icon-youxi:before {
  content: "\e817";
}
.ai-icon-jiangbei2:before {
  content: "\e818";
}
.ai-icon-pintu:before {
  content: "\e819";
}
.ai-icon-dangan:before {
  content: "\e81a";
}
.ai-icon-jibie:before {
  content: "\e81b";
}
.ai-icon-shutiao:before {
  content: "\e81c";
}
.ai-icon-yinle:before {
  content: "\e81d";
}
.ai-icon-zhuti:before {
  content: "\e81e";
}
.ai-icon-dayin:before {
  content: "\e81f";
}
.ai-icon-chuzuche:before {
  content: "\e80f";
}
.ai-icon-qingchu1:before {
  content: "\e810";
}
.ai-icon-yiyuan:before {
  content: "\e811";
}
.ai-icon-shouyinji:before {
  content: "\e812";
}
.ai-icon-dakache:before {
  content: "\e813";
}
.ai-icon-bi:before {
  content: "\e816";
}
.ai-icon-wangye:before {
  content: "\e80e";
}
.ai-icon-shoucang2:before {
  content: "\e805";
}
.ai-icon-wazi:before {
  content: "\e806";
}
.ai-icon-hangli:before {
  content: "\e807";
}
.ai-icon-hanglixiang:before {
  content: "\e808";
}
.ai-icon-shuju3:before {
  content: "\e809";
}
.ai-icon-yaoping:before {
  content: "\e80a";
}
.ai-icon-xiangshui:before {
  content: "\e80b";
}
.ai-icon-dianpu:before {
  content: "\e80c";
}
.ai-icon-xishouye:before {
  content: "\e80d";
}
.ai-icon-tianping:before {
  content: "\e802";
}
.ai-icon-quan:before {
  content: "\e803";
}
.ai-icon-loudou1:before {
  content: "\e804";
}
.ai-icon-chizi:before {
  content: "\e800";
}
.ai-icon-zhuizi:before {
  content: "\e801";
}
.ai-icon-paizhao:before {
  content: "\e7fb";
}
.ai-icon-shipin:before {
  content: "\e7fc";
}
.ai-icon-liangqi:before {
  content: "\e7fd";
}
.ai-icon-hushoushuang:before {
  content: "\e7fe";
}
.ai-icon-shalou:before {
  content: "\e7ff";
}
.ai-icon-piao:before {
  content: "\e7f9";
}
.ai-icon-lingjie:before {
  content: "\e7f0";
}
.ai-icon-liebiao:before {
  content: "\e7f1";
}
.ai-icon-pijiu:before {
  content: "\e7f2";
}
.ai-icon-niujiaobao:before {
  content: "\e7f3";
}
.ai-icon-naiping:before {
  content: "\e7f4";
}
.ai-icon-liwu2:before {
  content: "\e7f5";
}
.ai-icon-rili4:before {
  content: "\e7f6";
}
.ai-icon-jiantou:before {
  content: "\e7f7";
}
.ai-icon-lianjie:before {
  content: "\e7f8";
}
.ai-icon-yule:before {
  content: "\e7ee";
}
.ai-icon-miehuoqi:before {
  content: "\e7ef";
}
.ai-icon-jianzhu2:before {
  content: "\e7eb";
}
.ai-icon-kaishan:before {
  content: "\e7ec";
}
.ai-icon-jiaotang:before {
  content: "\e7ed";
}
.ai-icon-leida:before {
  content: "\e7e6";
}
.ai-icon-mianbao:before {
  content: "\e7e7";
}
.ai-icon-jieshouku:before {
  content: "\e7e8";
}
.ai-icon-shouyoujian:before {
  content: "\e7e9";
}
.ai-icon-meirongyi:before {
  content: "\e7ea";
}
.ai-icon-gongren:before {
  content: "\e7e5";
}
.ai-icon-gongchengche:before {
  content: "\e7e2";
}
.ai-icon-gaogenxie:before {
  content: "\e7e3";
}
.ai-icon-jijin:before {
  content: "\e7e4";
}
.ai-icon-huazhuangshua:before {
  content: "\e7df";
}
.ai-icon-gouwudai:before {
  content: "\e7e0";
}
.ai-icon-gongwenbao:before {
  content: "\e7e1";
}
.ai-icon-jijiuxiang:before {
  content: "\e7dc";
}
.ai-icon-gongjuxiang:before {
  content: "\e7dd";
}
.ai-icon-hanghai:before {
  content: "\e7de";
}
.ai-icon-chuangpu:before {
  content: "\e7d8";
}
.ai-icon-dianzuan:before {
  content: "\e7d9";
}
.ai-icon-geshi:before {
  content: "\e7da";
}
.ai-icon-fanchuan:before {
  content: "\e7db";
}
.ai-icon-dangao:before {
  content: "\e7d2";
}
.ai-icon-feiji2:before {
  content: "\e7d3";
}
.ai-icon-chuifengji:before {
  content: "\e7d4";
}
.ai-icon-tiaosepan:before {
  content: "\e7d5";
}
.ai-icon-dayinji:before {
  content: "\e7d6";
}
.ai-icon-duihuan:before {
  content: "\e7d7";
}
.ai-icon-bijiben:before {
  content: "\e7d1";
}
.ai-icon-chuangtougui:before {
  content: "\e7ca";
}
.ai-icon-beibao:before {
  content: "\e7cb";
}
.ai-icon-chushimao:before {
  content: "\e7cc";
}
.ai-icon-chengshi:before {
  content: "\e7cd";
}
.ai-icon-shouji:before {
  content: "\e7cf";
}
.ai-icon-anquanmao:before {
  content: "\e77a";
}
.ai-icon-yingpan:before {
  content: "\e779";
}
.ai-icon-fuzhi-01:before {
  content: "\e778";
}
.ai-icon-buxianshi:before {
  content: "\e777";
}
.ai-icon-chakan:before {
  content: "\e776";
}
.ai-icon-jiekouwendang-01:before {
  content: "\e775";
}
.ai-icon-kaifa-duiwaijiekou:before {
  content: "\e773";
}
.ai-icon-shiyongmoban:before {
  content: "\e774";
}
.ai-icon-jiaqiantubiao:before {
  content: "\e770";
}
.ai-icon-zhuanshenzhixiang:before {
  content: "\e771";
}
.ai-icon-zhuanshentubiao:before {
  content: "\e772";
}
.ai-icon-jishiben-01:before {
  content: "\e76f";
}
.ai-icon-wenjianjia1:before {
  content: "\e76e";
}
.ai-icon-bangong-yunwenjian-cebian1:before {
  content: "\e76d";
}
.ai-icon-tongyonggouxuan-01:before {
  content: "\e667";
}
.ai-icon-a-tongyongweigouxuanbiankuang:before {
  content: "\e76c";
}
.ai-icon-wuzijilu-01:before {
  content: "\e76b";
}
.ai-icon-shitosheji:before {
  content: "\e768";
}
.ai-icon-chuanjainkaohe:before {
  content: "\e769";
}
.ai-icon-kehuziliao:before {
  content: "\e76a";
}
.ai-icon-a-bianzu8:before {
  content: "\e6e1";
}
.ai-icon-paixu4:before {
  content: "\e767";
}
.ai-icon-shituguanli:before {
  content: "\e766";
}
.ai-icon-a-zu10219:before {
  content: "\e764";
}
.ai-icon-a-zu10219-copy:before {
  content: "\e907";
}
.ai-icon-a-zu10220:before {
  content: "\e761";
}
.ai-icon-a-zu10221:before {
  content: "\e762";
}
.ai-icon-a-zu10222:before {
  content: "\e763";
}
.ai-icon-a-zu10223:before {
  content: "\e760";
}
.ai-icon-paixu3:before {
  content: "\e759";
}
.ai-icon-shuju-2:before {
  content: "\e75e";
}
.ai-icon-huizong1:before {
  content: "\e758";
}
.ai-icon-bianji4:before {
  content: "\e701";
}
.ai-icon-shuju-01:before {
  content: "\e75a";
}
.ai-icon-a-zu10216-01:before {
  content: "\e6fe";
}
.ai-icon-a-22221-01:before {
  content: "\e6e9";
}
.ai-icon-a-bianzu3:before {
  content: "\e757";
}
.ai-icon-a-zu10210:before {
  content: "\e6fa";
}
.ai-icon-a-zu10212:before {
  content: "\e6f8";
}
.ai-icon-a-zu10205:before {
  content: "\e6f1";
}
.ai-icon-a-zu10086:before {
  content: "\e6f2";
}
.ai-icon-a-zu10202:before {
  content: "\e6f4";
}
.ai-icon-a-zu10083:before {
  content: "\e6f0";
}
.ai-icon-a-zu10207:before {
  content: "\e6eb";
}
.ai-icon-a-zu10208:before {
  content: "\e6ee";
}
.ai-icon-a-zu10091:before {
  content: "\e6ef";
}
.ai-icon-a-zu10087:before {
  content: "\e6ea";
}
.ai-icon-a-zu10092:before {
  content: "\e6ec";
}
.ai-icon-shujuliebiao:before {
  content: "\e6e2";
}
.ai-icon-tongjishuzhi:before {
  content: "\e6e3";
}
.ai-icon-zhexiantu:before {
  content: "\e6e4";
}
.ai-icon-tiaoxingtu:before {
  content: "\e6e5";
}
.ai-icon-zhuzhuangtu:before {
  content: "\e6e6";
}
.ai-icon-bingtu:before {
  content: "\e6e7";
}
.ai-icon-loudou:before {
  content: "\e6e8";
}
.ai-icon-a-paixu1x:before {
  content: "\e6e0";
}
.ai-icon-a-fangkedengji1x:before {
  content: "\e6de";
}
.ai-icon-kehushezhi:before {
  content: "\e6df";
}
.ai-icon-a-ziji1x:before {
  content: "\e6dd";
}
.ai-icon-ic_chufaqiguanli:before {
  content: "\e678";
}
.ai-icon-ic_liuchengguanli:before {
  content: "\e67b";
}
.ai-icon-ic_shujuzidian:before {
  content: "\e67c";
}
.ai-icon-ic_shitiguanli:before {
  content: "\e67d";
}
.ai-icon-icon_back:before {
  content: "\e67a";
}
.ai-icon-a-icon_nextstep:before {
  content: "\e679";
}
.ai-icon-xiangmuguanli:before {
  content: "\e66a";
}
.ai-icon-task1:before {
  content: "\e66b";
}
.ai-icon-paixu1:before {
  content: "\e669";
}
.ai-icon-shaixuan1:before {
  content: "\e756";
}
.ai-icon-gengduo2:before {
  content: "\e668";
}
.ai-icon-peizhi:before {
  content: "\e755";
}
.ai-icon-weigouxuan:before {
  content: "\e666";
}
.ai-icon-SVGgeshi:before {
  content: "\e716";
}
.ai-icon-MP4geshi:before {
  content: "\e74a";
}
.ai-icon-AIgeshi:before {
  content: "\e750";
}
.ai-icon-wordgeshi:before {
  content: "\e748";
}
.ai-icon-MP3geshi:before {
  content: "\e74f";
}
.ai-icon-PPTgeshi:before {
  content: "\e751";
}
.ai-icon-Excelgeshi:before {
  content: "\e752";
}
.ai-icon-PDFgeshi:before {
  content: "\e753";
}
.ai-icon-XDgeshi:before {
  content: "\e754";
}
.ai-icon-PNGgeshi:before {
  content: "\e745";
}
.ai-icon-Xmindgeshi:before {
  content: "\e746";
}
.ai-icon-JPGgeshi:before {
  content: "\e747";
}
.ai-icon-wendanggeshi:before {
  content: "\e749";
}
.ai-icon-Sketchgeshi:before {
  content: "\e74b";
}
.ai-icon-PSgeshi:before {
  content: "\e74c";
}
.ai-icon-GIFgeshi:before {
  content: "\e74d";
}
.ai-icon-TIFgeshi:before {
  content: "\e74e";
}
.ai-icon-Zipgeshi:before {
  content: "\e715";
}
.ai-icon-daiban:before {
  content: "\e6dc";
}
.ai-icon-cebian-zhankai:before {
  content: "\e6da";
}
.ai-icon-cebian-shouqi:before {
  content: "\e6db";
}
.ai-icon-txt:before {
  content: "\e6d9";
}
.ai-icon-renshi-kaoqintongji-cebian:before {
  content: "\e6cb";
}
.ai-icon-shequ-fenxiang:before {
  content: "\e6d5";
}
.ai-icon-renshi-kaoqinshezhi-cebian:before {
  content: "\e6d6";
}
.ai-icon-shequ-yifenxiang:before {
  content: "\e6d7";
}
.ai-icon-renshi-yuangongpeixun-cebian:before {
  content: "\e6d8";
}
.ai-icon-cuiban:before {
  content: "\e6c5";
}
.ai-icon-waichu:before {
  content: "\e6d4";
}
.ai-icon-buka:before {
  content: "\e6d0";
}
.ai-icon-chucha:before {
  content: "\e6d1";
}
.ai-icon-jiaban:before {
  content: "\e6d2";
}
.ai-icon-qingjia2:before {
  content: "\e6d3";
}
.ai-icon-chengyuan1:before {
  content: "\e6cc";
}
.ai-icon-duohangwenben1:before {
  content: "\e6cd";
}
.ai-icon-danxuan1:before {
  content: "\e6ce";
}
.ai-icon-bumen:before {
  content: "\e6cf";
}
.ai-icon-shuomingwenzi1:before {
  content: "\e6c0";
}
.ai-icon-shuzi1:before {
  content: "\e6c1";
}
.ai-icon-xuanzeqi:before {
  content: "\e6c2";
}
.ai-icon-shichang1:before {
  content: "\e6c3";
}
.ai-icon-shengshiqu:before {
  content: "\e6c4";
}
.ai-icon-riqi1:before {
  content: "\e6c6";
}
.ai-icon-riqishijian1:before {
  content: "\e6c7";
}
.ai-icon-danhangwenben1:before {
  content: "\e6c8";
}
.ai-icon-jine3:before {
  content: "\e6c9";
}
.ai-icon-duoxuan1:before {
  content: "\e6ca";
}
.ai-icon-fujian1:before {
  content: "\e6be";
}
.ai-icon-mingxi1:before {
  content: "\e6bf";
}
.ai-icon-tuoluojiang-baidi:before {
  content: "\e6bb";
}
.ai-icon-tuoluojiang-landi:before {
  content: "\e6bc";
}
.ai-icon-tuoluojiang-qiyezhushou:before {
  content: "\e6bd";
}
.ai-icon-wodewenjianjia:before {
  content: "\e6ba";
}
.ai-icon-dingyuexiaoxi:before {
  content: "\e697";
}
.ai-icon-yunwenjian:before {
  content: "\e698";
}
.ai-icon-fuzhi1:before {
  content: "\e66f";
}
.ai-icon-tianjia1:before {
  content: "\e66c";
}
.ai-icon-tuozhuai:before {
  content: "\e66d";
}
.ai-icon-shanchu1:before {
  content: "\e66e";
}
.ai-icon-yiguo:before {
  content: "\e663";
}
.ai-icon-weidadao:before {
  content: "\e664";
}
.ai-icon-dangqian:before {
  content: "\e665";
}
.ai-icon-fukuantixing:before {
  content: "\e662";
}
.ai-icon-renshi-gongzuofenxibiao-cebian:before {
  content: "\e65a";
}
.ai-icon-renshi-kaoheshezhi-cebian:before {
  content: "\e65b";
}
.ai-icon-hangzheng-gudingwuzi-cebian:before {
  content: "\e65c";
}
.ai-icon-hangzheng-wuzigailan-cebian:before {
  content: "\e65d";
}
.ai-icon-hangzheng-xiaohaowuzi-cebian:before {
  content: "\e65e";
}
.ai-icon-xitong-qiyexinxi-cebian:before {
  content: "\e65f";
}
.ai-icon-renshi-yuangongjixiao-cebian:before {
  content: "\e62d";
}
.ai-icon-guoqi-hetong:before {
  content: "\e653";
}
.ai-icon-guanzhu-hetong:before {
  content: "\e654";
}
.ai-icon-yiqianyue-hetong:before {
  content: "\e655";
}
.ai-icon-quanbu-hetong:before {
  content: "\e656";
}
.ai-icon-zuofei-hetong:before {
  content: "\e657";
}
.ai-icon-weiqianyue-hetong:before {
  content: "\e658";
}
.ai-icon-jixuxufei-hetong:before {
  content: "\e659";
}
.ai-icon-guanzhu-kehu:before {
  content: "\e64c";
}
.ai-icon-yichengjiao-kehu:before {
  content: "\e64d";
}
.ai-icon-yifangqi-kehu:before {
  content: "\e64e";
}
.ai-icon-quanbukehu:before {
  content: "\e650";
}
.ai-icon-guoqi-kehu:before {
  content: "\e651";
}
.ai-icon-genjin-kehu:before {
  content: "\e652";
}
.ai-icon-zhiweifenxibiao:before {
  content: "\e64a";
}
.ai-icon-gangweizhize:before {
  content: "\e64b";
}
.ai-icon-xitong-qiyeshezhi-cebian:before {
  content: "\e647";
}
.ai-icon-xitong-xitongshezhi-cebian:before {
  content: "\e648";
}
.ai-icon-xitong-quanyishuju-cebian:before {
  content: "\e649";
}
.ai-icon-caiwu-fapiaoshenhe-cebian:before {
  content: "\e643";
}
.ai-icon-caiwu-caiwushezhi-cebian:before {
  content: "\e644";
}
.ai-icon-caiwu-zhangmujilu-cebian:before {
  content: "\e645";
}
.ai-icon-caiwu-fukuanshenhe-cebian:before {
  content: "\e646";
}
.ai-icon-hangzheng-qiyedongtai-cebian:before {
  content: "\e641";
}
.ai-icon-hangzheng-bangongwuzi-cebian:before {
  content: "\e642";
}
.ai-icon-kehu-fapiaoguanli-cebian:before {
  content: "\e63c";
}
.ai-icon-kehu-hetongguanli-cebian:before {
  content: "\e63d";
}
.ai-icon-kehu-kehushezhi-cebian:before {
  content: "\e63e";
}
.ai-icon-kehu-yejitongji-cebian:before {
  content: "\e63f";
}
.ai-icon-kehu-kehuliebiao-cebian:before {
  content: "\e640";
}
.ai-icon-renshi-bangongshenpi-cebian:before {
  content: "\e63b";
}
.ai-icon-renshi-huibaoguanli-cebian:before {
  content: "\e636";
}
.ai-icon-renshi-zhiweiguanli-cebian:before {
  content: "\e637";
}
.ai-icon-renshi-zuzhijiagou-cebian:before {
  content: "\e638";
}
.ai-icon-renshi-yuangongdangan-cebian:before {
  content: "\e639";
}
.ai-icon-bangong-gongzuotai-cebian:before {
  content: "\e62c";
}
.ai-icon-bangong-jishiben-cebian:before {
  content: "\e62e";
}
.ai-icon-bangong-qiyetongxunlu-cebian:before {
  content: "\e62f";
}
.ai-icon-bangong-shenqingshenpi-cebian:before {
  content: "\e630";
}
.ai-icon-bangong-wodericheng-cebian:before {
  content: "\e631";
}
.ai-icon-bangong-zhiweishuoming-cebian:before {
  content: "\e632";
}
.ai-icon-bangong-wodehuibao-cebian:before {
  content: "\e633";
}
.ai-icon-bangong-xiaoxizhongxin-cebian:before {
  content: "\e634";
}
.ai-icon-bangong-yunwenjian-cebian:before {
  content: "\e635";
}
.ai-icon-bianji2:before {
  content: "\e62b";
}
.ai-icon-wodeqiye:before {
  content: "\e628";
}
.ai-icon-jishiben-xinjianjishiben:before {
  content: "\e627";
}
.ai-icon-qiye:before {
  content: "\e62a";
}
.ai-icon-jianli:before {
  content: "\e629";
}
.ai-icon-shanchujilu:before {
  content: "\e622";
}
.ai-icon-quanbu:before {
  content: "\e623";
}
.ai-icon-qiehuanqiye:before {
  content: "\e624";
}
.ai-icon-tuichudenglu:before {
  content: "\e625";
}
.ai-icon-gerenzhongxin2:before {
  content: "\e626";
}
.ai-icon-qiyeyaoqing:before {
  content: "\e61e";
}
.ai-icon-ruzhuqiye:before {
  content: "\e61f";
}
.ai-icon-zhichufenlei:before {
  content: "\e620";
}
.ai-icon-shourufenlei:before {
  content: "\e621";
}
.ai-icon-zaizhiyuangong:before {
  content: "\e61b";
}
.ai-icon-weiruzhiyuangong:before {
  content: "\e61c";
}
.ai-icon-lizhiyuangong:before {
  content: "\e61d";
}
.ai-icon-qiyexinxi2:before {
  content: "\e61a";
}
.ai-icon-gudingwuzi:before {
  content: "\e618";
}
.ai-icon-xiaohaowuzi:before {
  content: "\e619";
}
.ai-icon-dingyue:before {
  content: "\e614";
}
.ai-icon-kaohetongji1:before {
  content: "\e615";
}
.ai-icon-kaoheyuangong:before {
  content: "\e616";
}
.ai-icon-zhiweitixitu:before {
  content: "\e617";
}
.ai-icon-weidu:before {
  content: "\e612";
}
.ai-icon-kaoheliucheng:before {
  content: "\e613";
}
.ai-icon-kaohejihua:before {
  content: "\e60c";
}
.ai-icon-bumenkaohe:before {
  content: "\e60d";
}
.ai-icon-kaohepingfen:before {
  content: "\e60e";
}
.ai-icon-wodekaohe1:before {
  content: "\e60f";
}
.ai-icon-zhiweiguanli:before {
  content: "\e610";
}
.ai-icon-zhijiguanli1:before {
  content: "\e611";
}
.ai-icon-daichuli:before {
  content: "\e603";
}
.ai-icon-wochakande:before {
  content: "\e604";
}
.ai-icon-wodehuibao:before {
  content: "\e605";
}
.ai-icon-woshenpide:before {
  content: "\e606";
}
.ai-icon-wotijiaode:before {
  content: "\e607";
}
.ai-icon-wofuzede:before {
  content: "\e608";
}
.ai-icon-jibenxinxi:before {
  content: "\e609";
}
.ai-icon-jixiaokaohe3:before {
  content: "\e60a";
}
.ai-icon-bumenhuibao:before {
  content: "\e60b";
}
.ai-icon-qingchu:before {
  content: "\e906";
}
.ai-icon-zhankai1:before {
  content: "\e601";
}
.ai-icon-zhongzhi:before {
  content: "\e602";
}
.ai-icon-bangzhu1:before {
  content: "\e905";
}
.ai-icon-jishiben2:before {
  content: "\e902";
}
.ai-icon-xiaoxi1:before {
  content: "\e903";
}
.ai-icon-fapiaoxiangqing-caozuojilu:before {
  content: "\e901";
}
.ai-icon-rili3:before {
  content: "\e8ff";
}
.ai-icon-pcshouye-guanli:before {
  content: "\e8fe";
}
.ai-icon-chuangzuozhongxin:before {
  content: "\e8fa";
}
.ai-icon-zuozhezhongxin-chuangzuozhongxin:before {
  content: "\e8fb";
}
.ai-icon-zuozhezhongxin-xiewenzhang:before {
  content: "\e8fc";
}
.ai-icon-zuozhezhongxin-zhishishequ:before {
  content: "\e8fd";
}
.ai-icon-luntan-huanyipi:before {
  content: "\e8f9";
}
.ai-icon-shequ-dianzan:before {
  content: "\e8f7";
}
.ai-icon-shequ-dianzan-yidian:before {
  content: "\e8f8";
}
.ai-icon-biaoqianguanli:before {
  content: "\e8f6";
}
.ai-icon-xingbie-nv:before {
  content: "\e8f4";
}
.ai-icon-xingbie-nan:before {
  content: "\e8f5";
}
.ai-icon-chuanda1:before {
  content: "\e8cc";
}
.ai-icon-bingzhuangtu1:before {
  content: "\e8cd";
}
.ai-icon-dizhi1:before {
  content: "\e8ce";
}
.ai-icon-dianhua1:before {
  content: "\e8cf";
}
.ai-icon-feiji1:before {
  content: "\e8d0";
}
.ai-icon-ri1:before {
  content: "\e8d1";
}
.ai-icon-jianzhu1:before {
  content: "\e8d2";
}
.ai-icon-laba1:before {
  content: "\e8d3";
}
.ai-icon-jine2:before {
  content: "\e8d4";
}
.ai-icon-huangguan1:before {
  content: "\e8d5";
}
.ai-icon-gongju1:before {
  content: "\e8d6";
}
.ai-icon-gouwuche1:before {
  content: "\e8d7";
}
.ai-icon-wenjianhe1:before {
  content: "\e8d8";
}
.ai-icon-gouwu1:before {
  content: "\e8d9";
}
.ai-icon-wendang21:before {
  content: "\e8da";
}
.ai-icon-liwu1:before {
  content: "\e8db";
}
.ai-icon-qianbao1:before {
  content: "\e8dc";
}
.ai-icon-wenjian2:before {
  content: "\e8dd";
}
.ai-icon-gongjiao1:before {
  content: "\e8de";
}
.ai-icon-xunzhang1:before {
  content: "\e8df";
}
.ai-icon-rili2:before {
  content: "\e8e0";
}
.ai-icon-diannao1:before {
  content: "\e8e1";
}
.ai-icon-yue1:before {
  content: "\e8e2";
}
.ai-icon-zhou1:before {
  content: "\e8e3";
}
.ai-icon-youjian1:before {
  content: "\e8e4";
}
.ai-icon-wendang12:before {
  content: "\e8e5";
}
.ai-icon-xingzhuang21:before {
  content: "\e8e6";
}
.ai-icon-geren1:before {
  content: "\e8e7";
}
.ai-icon-wenjianku1:before {
  content: "\e8e8";
}
.ai-icon-jiaoche1:before {
  content: "\e8e9";
}
.ai-icon-icon-liaotian1:before {
  content: "\e8ea";
}
.ai-icon-tupian3:before {
  content: "\e8eb";
}
.ai-icon-wenzhang1:before {
  content: "\e8ec";
}
.ai-icon-yunwendang1:before {
  content: "\e8ed";
}
.ai-icon-qingjia1:before {
  content: "\e8ee";
}
.ai-icon-zhangzi1:before {
  content: "\e8ef";
}
.ai-icon-huojiangwenzhang1:before {
  content: "\e8f0";
}
.ai-icon-shuju1:before {
  content: "\e8f1";
}
.ai-icon-zhuanqian1:before {
  content: "\e8f2";
}
.ai-icon-jiangbei1:before {
  content: "\e8f3";
}
.ai-icon-wenjianshangchuan:before {
  content: "\e8c6";
}
.ai-icon-jindu-qita:before {
  content: "\e8bc";
}
.ai-icon-jindu-zuixin:before {
  content: "\e8bd";
}
.ai-icon-xiazai:before {
  content: "\e8be";
}
.ai-icon-yulan:before {
  content: "\e8bf";
}
.ai-icon-genjinjilu-gengduo:before {
  content: "\e8c0";
}
.ai-icon-yejitongji-xiajiang:before {
  content: "\e8ba";
}
.ai-icon-yejitongji-shangsheng:before {
  content: "\e8bb";
}
.ai-icon-bianji1:before {
  content: "\e8b9";
}
.ai-icon-tianjia:before {
  content: "\e8b8";
}
.ai-icon-gerenjianli-yaoqing:before {
  content: "\e8b5";
}
.ai-icon-tishi2:before {
  content: "\e8b3";
}
.ai-icon-jishiben-xinjianbiji1:before {
  content: "\e8af";
}
.ai-icon-jishiben-xinjianwenjianjia1:before {
  content: "\e8b0";
}
.ai-icon-zhuyaobumen:before {
  content: "\e890";
}
.ai-icon-jishiben:before {
  content: "\e88e";
}
.ai-icon-tongji-guanjun:before {
  content: "\e85b";
}
.ai-icon-tongji-riqi:before {
  content: "\e85c";
}
.ai-icon-tongji-shangzhang:before {
  content: "\e85d";
}
.ai-icon-tongji-xiajiang:before {
  content: "\e85e";
}
.ai-icon-tongji-yajun:before {
  content: "\e85f";
}
.ai-icon-jishiben-fanhui:before {
  content: "\e860";
}
.ai-icon-jishiben-xinjianwenjianjia:before {
  content: "\e861";
}
.ai-icon-jishiben-sousuo:before {
  content: "\e862";
}
.ai-icon-jishiben-fanhuidiyiye:before {
  content: "\e863";
}
.ai-icon-jishiben-xinjianbiji:before {
  content: "\e864";
}
.ai-icon-cebianlan-bangzhuwendang:before {
  content: "\e865";
}
.ai-icon-cebianlan-luntanzhongxin:before {
  content: "\e866";
}
.ai-icon-shoucang:before {
  content: "\e82f";
}
.ai-icon-yishoucang:before {
  content: "\e830";
}
.ai-icon-remen:before {
  content: "\e831";
}
.ai-icon-xinfeng:before {
  content: "\e814";
}
.ai-icon-xinfengdakai:before {
  content: "\e815";
}
.ai-icon-xiaoxi:before {
  content: "\e7fa";
}
.ai-icon-jishiben1:before {
  content: "\e7d0";
}
.ai-icon-beiwanglu:before {
  content: "\e7ce";
}
.ai-icon-shijian:before {
  content: "\e7c8";
}
.ai-icon-yiyuedu:before {
  content: "\e7c9";
}
.ai-icon-sousuo1:before {
  content: "\e7c7";
}
.ai-icon-lianxikefu:before {
  content: "\e7c5";
}
.ai-icon-wendang3:before {
  content: "\e7c6";
}
.ai-icon-huanyihuan:before {
  content: "\e7c3";
}
.ai-icon-fangda:before {
  content: "\e7c4";
}
.ai-icon-yunpan:before {
  content: "\e7bf";
}
.ai-icon-duanxin:before {
  content: "\e7c2";
}
.ai-icon-bumen1:before {
  content: "\e7c1";
}
.ai-icon-shuoming:before {
  content: "\e7c0";
}
.ai-icon-shangyi:before {
  content: "\e7bb";
}
.ai-icon-shanchu:before {
  content: "\e7bc";
}
.ai-icon-fuzhi:before {
  content: "\e7bd";
}
.ai-icon-xiayi:before {
  content: "\e7be";
}
.ai-icon-shenpi:before {
  content: "\e7b7";
}
.ai-icon-chaosong:before {
  content: "\e7b9";
}
.ai-icon-tiaojian:before {
  content: "\e7ba";
}
.ai-icon-cha21:before {
  content: "\e7b8";
}
.ai-icon-duoxuan:before {
  content: "\e7af";
}
.ai-icon-danhangwenben:before {
  content: "\e7a6";
}
.ai-icon-danxuan:before {
  content: "\e7ab";
}
.ai-icon-riqi:before {
  content: "\e7ac";
}
.ai-icon-duohangwenben:before {
  content: "\e7ad";
}
.ai-icon-jine1:before {
  content: "\e7ae";
}
.ai-icon-riqishijian:before {
  content: "\e7b0";
}
.ai-icon-fujian:before {
  content: "\e7b1";
}
.ai-icon-shichang:before {
  content: "\e7b2";
}
.ai-icon-mingxi:before {
  content: "\e7b3";
}
.ai-icon-shuzi:before {
  content: "\e7b4";
}
.ai-icon-shuomingwenzi:before {
  content: "\e7b5";
}
.ai-icon-chengyuan:before {
  content: "\e7b6";
}
.ai-icon-jiangbei:before {
  content: "\e7a8";
}
.ai-icon-dianhua:before {
  content: "\e7aa";
}
.ai-icon-bingzhuangtu:before {
  content: "\e77b";
}
.ai-icon-diannao:before {
  content: "\e77c";
}
.ai-icon-dizhi:before {
  content: "\e77d";
}
.ai-icon-chuanda:before {
  content: "\e77e";
}
.ai-icon-gongju:before {
  content: "\e780";
}
.ai-icon-geren:before {
  content: "\e781";
}
.ai-icon-feiji:before {
  content: "\e782";
}
.ai-icon-jianzhu:before {
  content: "\e783";
}
.ai-icon-gouwu:before {
  content: "\e784";
}
.ai-icon-laba:before {
  content: "\e786";
}
.ai-icon-jine:before {
  content: "\e78c";
}
.ai-icon-ri:before {
  content: "\e78d";
}
.ai-icon-huojiangwenzhang:before {
  content: "\e78e";
}
.ai-icon-liaotian:before {
  content: "\e78f";
}
.ai-icon-wenjianhe:before {
  content: "\e790";
}
.ai-icon-wenzhang:before {
  content: "\e791";
}
.ai-icon-wenjian1:before {
  content: "\e792";
}
.ai-icon-qianbao:before {
  content: "\e793";
}
.ai-icon-huangguan:before {
  content: "\e794";
}
.ai-icon-liwu:before {
  content: "\e795";
}
.ai-icon-gouwuche:before {
  content: "\e796";
}
.ai-icon-yue:before {
  content: "\e797";
}
.ai-icon-qingjia:before {
  content: "\e798";
}
.ai-icon-bangong:before {
  content: "\e799";
}
.ai-icon-shuju:before {
  content: "\e79a";
}
.ai-icon-gongjiao:before {
  content: "\e79b";
}
.ai-icon-zhou:before {
  content: "\e79c";
}
.ai-icon-wendang2:before {
  content: "\e79d";
}
.ai-icon-jiaoche:before {
  content: "\e79e";
}
.ai-icon-youjian:before {
  content: "\e79f";
}
.ai-icon-tupian2:before {
  content: "\e7a0";
}
.ai-icon-zhangzi:before {
  content: "\e7a1";
}
.ai-icon-wenjianku:before {
  content: "\e7a2";
}
.ai-icon-rili1:before {
  content: "\e7a3";
}
.ai-icon-xunzhang:before {
  content: "\e7a4";
}
.ai-icon-zhuanqian:before {
  content: "\e7a5";
}
.ai-icon-yunwendang:before {
  content: "\e7a7";
}
.ai-icon-wendang11:before {
  content: "\e7a9";
}
.ai-icon-bianji:before {
  content: "\e78b";
}
.ai-icon-naoling:before {
  content: "\e78a";
}
.ai-icon-kehu:before {
  content: "\e787";
}
.ai-icon-hetong:before {
  content: "\e788";
}
.ai-icon-fapiao:before {
  content: "\e789";
}
.ai-icon-pdf:before {
  content: "\e785";
}
.ai-icon-zhangmushezhi:before {
  content: "\e73e";
}
.ai-icon-zhangmujilu:before {
  content: "\e73d";
}
.ai-icon-shouzhitongji:before {
  content: "\e733";
}
.ai-icon-gerenshezhi1:before {
  content: "\e72f";
}
.ai-icon-kaoheshezhi:before {
  content: "\e72e";
}
.ai-icon-shouzhijizhang:before {
  content: "\e72d";
}
.ai-icon-bangongzhongxin1:before {
  content: "\e71c";
}
.ai-icon-caiwuguanli:before {
  content: "\e71d";
}
.ai-icon-caozuorizhi1:before {
  content: "\e71e";
}
.ai-icon-gerenbangong:before {
  content: "\e71f";
}
.ai-icon-gongzuotai1:before {
  content: "\e720";
}
.ai-icon-caidanguanli1:before {
  content: "\e721";
}
.ai-icon-guanliyuan1:before {
  content: "\e722";
}
.ai-icon-gangweiguanli:before {
  content: "\e723";
}
.ai-icon-gerenzhongxin1:before {
  content: "\e724";
}
.ai-icon-jixiaokaohe2:before {
  content: "\e725";
}
.ai-icon-kaohemoban:before {
  content: "\e726";
}
.ai-icon-kaohetongji:before {
  content: "\e727";
}
.ai-icon-mobanku:before {
  content: "\e728";
}
.ai-icon-kaohejilu1:before {
  content: "\e729";
}
.ai-icon-qiyewendang2:before {
  content: "\e72a";
}
.ai-icon-qiyexinxi1:before {
  content: "\e72b";
}
.ai-icon-kaohedangan:before {
  content: "\e72c";
}
.ai-icon-renshidangan1:before {
  content: "\e730";
}
.ai-icon-qiyetongxunlu1:before {
  content: "\e731";
}
.ai-icon-qiyeshezhi1:before {
  content: "\e732";
}
.ai-icon-renshiguanli:before {
  content: "\e734";
}
.ai-icon-woderibao2:before {
  content: "\e735";
}
.ai-icon-wendangguanli1:before {
  content: "\e736";
}
.ai-icon-xitongshezhi1:before {
  content: "\e737";
}
.ai-icon-xitongguanli:before {
  content: "\e738";
}
.ai-icon-yuangongjixiao:before {
  content: "\e739";
}
.ai-icon-zhangmufenlei:before {
  content: "\e73a";
}
.ai-icon-yuangongdangan1:before {
  content: "\e73b";
}
.ai-icon-zhijiguanli:before {
  content: "\e73c";
}
.ai-icon-zhibiaokaohe:before {
  content: "\e73f";
}
.ai-icon-zuzhijiagou1:before {
  content: "\e740";
}
.ai-icon-zhijiliebiao:before {
  content: "\e741";
}
.ai-icon-zhijileibie:before {
  content: "\e742";
}
.ai-icon-sucaiguanli:before {
  content: "\e743";
}
.ai-icon-zhijileixing:before {
  content: "\e744";
}
.ai-icon-biaoge:before {
  content: "\e719";
}
.ai-icon-wendang1:before {
  content: "\e71a";
}
.ai-icon-ppt:before {
  content: "\e71b";
}
.ai-icon-tupian1:before {
  content: "\e717";
}
.ai-icon-wenjianjia:before {
  content: "\e718";
}
.ai-icon-xuanzhong:before {
  content: "\e714";
}
.ai-icon-chuangjianshijian:before {
  content: "\e713";
}
.ai-icon-xiugaishijian:before {
  content: "\e710";
}
.ai-icon-wenjianweizhi:before {
  content: "\e711";
}
.ai-icon-wenjiandaxiao:before {
  content: "\e712";
}
.ai-icon-shangchuan:before {
  content: "\e70e";
}
.ai-icon-xinjian:before {
  content: "\e70f";
}
.ai-icon-shaixuan:before {
  content: "\e70b";
}
.ai-icon-jinru1:before {
  content: "\e70c";
}
.ai-icon-paixu:before {
  content: "\e70d";
}
.ai-icon-kuaizhuangyangshi:before {
  content: "\e709";
}
.ai-icon-liebiaoyangshi:before {
  content: "\e70a";
}
.ai-icon-gengduo1:before {
  content: "\e708";
}
.ai-icon-fenxiang:before {
  content: "\e706";
}
.ai-icon-shoucang1:before {
  content: "\e707";
}
.ai-icon-quanbuwendang:before {
  content: "\e705";
}
.ai-icon-fenxianggeiwo:before {
  content: "\e6fc";
}
.ai-icon-gongxiangzu:before {
  content: "\e6fd";
}
.ai-icon-changyongwenjianjia:before {
  content: "\e6ff";
}
.ai-icon-huishouzhan:before {
  content: "\e700";
}
.ai-icon-tuodong:before {
  content: "\e702";
}
.ai-icon-zuijin:before {
  content: "\e703";
}
.ai-icon-wofenxiangde:before {
  content: "\e704";
}
.ai-icon-yincang1:before {
  content: "\e77f";
}
.ai-icon-qiyewendang1:before {
  content: "\e6a9";
}
.ai-icon-gongzuotai:before {
  content: "\e6b9";
}
.ai-icon-bangongzhongxin:before {
  content: "\e6b8";
}
.ai-icon-yonghuliebiao:before {
  content: "\e69b";
}
.ai-icon-guanliyuanliebiao:before {
  content: "\e6b0";
}
.ai-icon-qiyeliebiao:before {
  content: "\e6a8";
}
.ai-icon-gerenzhongxin:before {
  content: "\e6a2";
}
.ai-icon-kaohejilu:before {
  content: "\e6a3";
}
.ai-icon-qiyecaidan:before {
  content: "\e6a4";
}
.ai-icon-qiyedengji:before {
  content: "\e6a5";
}
.ai-icon-qiyeleixing:before {
  content: "\e6a6";
}
.ai-icon-qiyeguimo:before {
  content: "\e6a7";
}
.ai-icon-renshidangan:before {
  content: "\e6aa";
}
.ai-icon-qiyetongxunlu:before {
  content: "\e6ab";
}
.ai-icon-quanxianshezhi:before {
  content: "\e6ac";
}
.ai-icon-taocanfeiyong:before {
  content: "\e6ad";
}
.ai-icon-qiyexinxi:before {
  content: "\e6ae";
}
.ai-icon-wendangguanli:before {
  content: "\e6af";
}
.ai-icon-woderibao1:before {
  content: "\e6b1";
}
.ai-icon-qiyeshezhi:before {
  content: "\e6b2";
}
.ai-icon-zuzhijiagou:before {
  content: "\e6b3";
}
.ai-icon-yuangongdangan:before {
  content: "\e6b4";
}
.ai-icon-xitongshezhi:before {
  content: "\e6b5";
}
.ai-icon-qiyeshenqing:before {
  content: "\e6b6";
}
.ai-icon-wodekaohe:before {
  content: "\e6b7";
}
.ai-icon-caozuorizhi:before {
  content: "\e699";
}
.ai-icon-caidanguanli:before {
  content: "\e69a";
}
.ai-icon-denglushezhi:before {
  content: "\e69c";
}
.ai-icon-guanliyuan:before {
  content: "\e69d";
}
.ai-icon-jichupeizhi:before {
  content: "\e69e";
}
.ai-icon-kaohefangan:before {
  content: "\e69f";
}
.ai-icon-gerenshezhi:before {
  content: "\e6a0";
}
.ai-icon-jixiaokaohe1:before {
  content: "\e6a1";
}
.ai-icon-woderibao:before {
  content: "\e693";
}
.ai-icon-qiyewendang:before {
  content: "\e695";
}
.ai-icon-jixiaokaohe:before {
  content: "\e696";
}
.ai-icon-guanbi1:before {
  content: "\e694";
}
.ai-icon-rili:before {
  content: "\e691";
}
.ai-icon-tishi1:before {
  content: "\e685";
}
.ai-icon-gengduo:before {
  content: "\e67e";
}
.ai-icon-cha1:before {
  content: "\e67f";
}
.ai-icon-caidan:before {
  content: "\e680";
}
.ai-icon-diqiu:before {
  content: "\e681";
}
.ai-icon-shouqi:before {
  content: "\e682";
}
.ai-icon-jinru:before {
  content: "\e683";
}
.ai-icon-saoyisao:before {
  content: "\e684";
}
.ai-icon-sousuo:before {
  content: "\e686";
}
.ai-icon-gou:before {
  content: "\e687";
}
.ai-icon-zhankai:before {
  content: "\e689";
}
.ai-icon-zuohua:before {
  content: "\e68a";
}
.ai-icon-youhua:before {
  content: "\e68b";
}
.ai-icon-shanghu:before {
  content: "\e68c";
}
.ai-icon-yonghu:before {
  content: "\e68d";
}
.ai-icon-xiala:before {
  content: "\e68e";
}
.ai-icon-tongzhi:before {
  content: "\e68f";
}
.ai-icon-wenjian:before {
  content: "\e690";
}
.ai-icon-xitong:before {
  content: "\e692";
}
.ai-icon-jingshi1:before {
  content: "\e677";
}
.ai-icon-dakai:before {
  content: "\e675";
}
.ai-icon-yincang:before {
  content: "\e674";
}
.ai-icon-cha:before {
  content: "\e676";
}
.ai-icon-denglu-shoujihao:before {
  content: "\e670";
}
.ai-icon-denglu-yonghuzhanghao:before {
  content: "\e671";
}
.ai-icon-denglu-mima:before {
  content: "\e672";
}
.ai-icon-denglu-yanzhengma:before {
  content: "\e673";
}
.ai-icon-wendang:before {
  content: "\e600";
}
.ai-icon-tupian:before {
  content: "\e660";
}
.ai-icon-wenjianjiaguanbi:before {
  content: "\e64f";
}
