@use "highlight.js/scss/a11y-dark.scss";

.md-render-container {
  pre {
    @apply whitespace-pre-wrap break-all rounded-8px pt-46px pb-12px px-14px my-11px;
    --language: "javascript";

    &.hljs[data-language] {
      @apply relative;

      &::before {
        content: attr(data-language);
        @apply absolute h-32px w-full left-0 top-0 bg-#1B1D20 rounded-tl-8px rounded-tr-8px text-white text-15px pl-14px flex items-center;
      }
    }
  }

  p > code {
    @apply bg-#E7E7E7 rounded-5px px-4px py-2px mx-.5em;
  }

  .table-container {
    @apply rounded-22px border-1px border-#E6E8EF p-30px pt-45px max-w-full my-9px text-13px leading-24px;

    .table-container-content {
      @apply overflow-auto;
      scrollbar-width: thin;
    }

    box-shadow: 0px 4px 18px 0px rgba(222, 223, 225, 0.5);

    .expand-icon {
      @apply absolute top-14px right-30px text-16px leading-16px cursor-pointer text-#606266 hidden;
    }

    .table-inner-container {
      @apply border-1px border-#F2F2F2 rounded-8px overflow-x-auto;
      scrollbar-width: thin;
    }

    table {
      @apply w-max max-w-max min-w-full;
    }

    thead {
      @apply text-left;
      tr {
        @apply bg-#f3f8fe;
        th {
          @apply py-11px px-30px;
        }
      }
    }

    tbody tr:not(:last-child) {
      @apply border-b-1px border-#F2F2F2;
    }

    tbody {
      td {
        @apply py-19px px-30px;
      }
    }
  }

  &.has-page-table {
    .expand-icon {
      @apply display-initial;
    }
  }

  a {
    @apply primary-color underline underline-offset-5;
  }

  $tags: p, ul, ol, table, pre;

  %direct-tag-style {
    @apply mt-0 mb-14px;
  }

  @each $tag in $tags {
    & > #{$tag} {
      @extend %direct-tag-style;
    }
  }

  ul,
  ol {
    list-style: auto;
    padding-left: 24px;
  }

  li {
    @apply mb-4px;
  }
    
}
